@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  33% {
    transform: translateY(-20px) translateX(10px);
  }
  66% {
    transform: translateY(10px) translateX(-10px);
  }
}

.particle {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(142, 150, 163, 0.4) 0%,
    transparent 70%
  );
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
}

.particle-1 {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
  animation-duration: 8s;
}

.particle-2 {
  width: 120px;
  height: 120px;
  top: 50%;
  left: 80%;
  animation-delay: 1s;
  animation-duration: 10s;
}

.particle-3 {
  width: 60px;
  height: 60px;
  top: 70%;
  left: 20%;
  animation-delay: 2s;
  animation-duration: 7s;
}

.particle-4 {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 60%;
  animation-delay: 3s;
  animation-duration: 9s;
}

.particle-5 {
  width: 70px;
  height: 70px;
  top: 80%;
  left: 70%;
  animation-delay: 1.5s;
  animation-duration: 8.5s;
}
